label.custom-checkbox:hover, label.custom-radio:hover, .btn:hover, .cursor-click {
	cursor: pointer;
}

.spaced {
	margin-top: 10px;
}

.categ {
	margin-top: 20px;
}

#info-box {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 320px;
	height: 100px;
	border: 1px solid #ccc;
	box-shadow: 0 0 8px #aaa;
	background-color: white;
}

.filtre-type label {
	margin-top: .25rem;
	margin-right: 0;
	margin-bottom: .25rem;
}
