<div class="row ev" #evRow (click)="source.open(ev.url)" [class.height-limited]="limitHeight" [style.border-color]="ev.couleur" [class.cursor-click]="ev.url.length > 0 && !source.admin">
  <div *ngIf="limitHeight" class="hider" (click)="limitHeight = false">
    <div>&hellip;</div>
  </div>
	<div class="col-3 ev-dates" [style.border-color]="ev.couleur">
		<img class="align-top mt-1 mr-1" src="assets/icons/link.svg" width="14" height="14" alt="Lien disponible" *ngIf="ev.url.length > 0"><b>{{ev.type}}</b><br>
		{{ev.debut | date:'EEEE d MMMM HH:mm' | capitalize}}<br>
		<span *ngIf="ev.timable">{{ev.fin | date:'EEEE d MMMM HH:mm' | capitalize}}</span><br>
	</div>
	<div class="col ev-info">
		<markdown-to-html [data]="ev.info"></markdown-to-html>
    <p id="url-domain" *ngIf="source.admin && ev.url?.length > 0">
      URL: <a href="{{ev.url}}">{{urlDomain}}</a>
    </p>
	</div>
	<div class="col-1" style="padding-top: 9px;" *ngIf="source.admin">
		<button class="btn btn-sm btn-warning" type="button" (click)="source.openMod(ev)">&curren;</button>
		<button class="btn btn-sm btn-danger" type="button" (click)="source.openDelete(ev)">&times;</button>
	</div>
</div>
