<div class="modal-header">
	<h5 class="modal-title">Liens additionnels &amp; infos du semestre {{data.numero}}</h5>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div>
		<h4>Informations</h4>
		<ng-container *ngIf="data.info.length == 0">
			<span style="font-style: italic;">Aucune information fournie&hellip;</span>
		</ng-container>
		<ng-container *ngIf="data.info.length > 0">
			<markdown data="{{data.info}}"></markdown>
		</ng-container>
	</div>
	<hr />
	<div>
		<h4>Liens</h4>
		<ng-container *ngIf="data.liens.length == 0">
			<span style="font-style: italic;">Aucun lien fourni&hellip;</span>
		</ng-container>
		<ng-container *ngIf="data.liens.length > 0">
			<ng-container *ngFor="let l of data.liens">
				<a class="btn btn-warning btn-sm" style="width: 100%;" href="{{l.url}}" *ngIf="l.nom.length > 0">{{l.nom}}</a>
			</ng-container>
		</ng-container>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Fermer</button>
</div>
