<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Master App</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse mr-auto" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        <a class="nav-item nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/et" routerLinkActive="active">Emploi du temps</a>
        <a class="nav-item nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/evenements" routerLinkActive="active">&Eacute;vènements</a>
        <a class="nav-item nav-link" (click)="isNavbarCollapsed = !isNavbarCollapsed" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
    <span class="navbar-text" id="change-theme" (click)="darkTheme = !darkTheme"></span>
  </div>
</nav>

<div [class.dark-theme]="darkTheme">
  <div id="background"></div>

  <div class="container" id="app-container">
    <router-outlet></router-outlet>
    <hr>
    <p>
      Copyright 2017-2018 &copy; Nicolas Huchet (<a href="http://www.github.com/Nelgamix">@Nelgamix</a>)
    </p>
  </div>

  <app-message></app-message>
</div>
