<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Master App</a>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        <a class="nav-item nav-link" routerLink="/et" routerLinkActive="active">Emploi du temps</a>
        <a class="nav-item nav-link" routerLink="/evenements" routerLinkActive="active">&Eacute;vènements</a>
        <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>