<div class="row pt-2 pb-2" id="head-title">
  <div class="col">
    <div class="row">
      <div class="col h3 text-center mb-1">
        Semaine <span class="text-danger">{{semaine.date.semaine}}</span>,
        du <span class="text-warning">{{semaine.date.dateDebut | amDateFormat:'D MMMM YYYY'}}</span>
        au <span class="text-primary">{{semaine.date.dateFin | amDateFormat:'D MMMM YYYY'}}</span>
      </div>
    </div>

    <div class="row" *ngIf="infoSemaine">
      <div class="col h6 text-center mb-1" [ngSwitch]="infoSemaine.placement">
        <span *ngSwitchCase="-1">Dans {{infoSemaine.date | amDuration:'milliseconds'}}</span>
        <span *ngSwitchCase="0">Commencée depuis {{infoSemaine.date | amDuration:'milliseconds'}}</span>
        <span *ngSwitchCase="1">Finie depuis {{infoSemaine.date | amDuration:'milliseconds'}}</span>
      </div>
    </div>

    <div class="row" *ngIf="semaineProgress">
      <div class="col">
        <ngb-progressbar id="progress-main" type="{{semaineProgress < 100 ? 'primary' : 'success'}}" [value]="semaineProgress" [striped]="true" [animated]="false">
          <b>{{semaineProgress | number:'1.0-1'}}%</b>
        </ngb-progressbar>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" *ngIf="semaine.ensembleCours.setCours.estVide(); else elseBlock">
  <div class="col text-center">
    <img src="assets/icons_perso/drawing4empty.svg" alt="Empty" class="m-5" width="120" height="120">
  </div>
</div>

<ng-template #elseBlock>
  <div class="row mb-3 pt-2" id="head-details">
    <div class="col">
      <div class="row" id="head-summary">
        <!-- Summary row -->
        <ng-container *ngFor="let j of semaine.jours">
          <div class="col-12 col-md text-center" *ngIf="!j.ensembleCours.setCoursActifs.estVide()">
            <span class="text-capitalize font-weight-bold">{{j.date | amDateFormat:'dddd'}}</span>:
            <span class="stat-donnee">{{j.ensembleCours.setCoursActifs.premierCours.debut | date: 'HH:mm'}} &rarr; {{j.ensembleCours.setCoursActifs.dernierCours.fin | date: 'HH:mm'}}</span>
          </div>
        </ng-container>
      </div>

      <hr>

      <div class="row">
        <!-- Stats pannel -->
        <div class="col-12 col-md-6 mb-2">
          <div class="row">
            <div class="col">
              <h5>Statistiques
                <span class="badge badge-success" style="cursor: pointer" (click)="openStats()">plus&hellip;</span>
              </h5>
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['duree'].data | duree}}</span>
                      <span class="font-weight-bold">heures</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['moyenneParCours'].data | duree}}</span>
                      <span class="font-weight-bold">heure(s) / cours</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['moyenneParJour'].data | duree}}</span>
                      <span class="font-weight-bold">heures / jour</span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.cours.length}}</span>
                      <span class="font-weight-bold">cours actifs</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursCaches.cours.length}}</span>
                      <span class="font-weight-bold">cours cachés</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursSupprimes.cours.length}}</span>
                      <span class="font-weight-bold">cours supprimés</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Deb & fin pannel -->
        <div class="col-12 col-md-6 mb-2">
          <h5>Début &amp; fin des cours</h5>
          <div class="row">
            <div class="col">
              <dl>
                <dt *ngIf="semaine.ensembleCours.setCoursActifs.coursActuel">Cours actuel</dt>
                <dd *ngIf="semaine.ensembleCours.setCoursActifs.coursActuel"><b>{{semaine.ensembleCours.setCoursActifs.coursActuel.nom}}</b> en <span class="font-italic" *ngFor="let s of semaine.ensembleCours.setCoursActifs.coursActuel.salles">{{s.batiment}} {{s.salle}}</span></dd>

                <dt *ngIf="semaine.ensembleCours.setCoursActifs.coursSuivant">Cours suivant <span style="font-size: 75%; color: gray">dans {{prochainCoursTimer | amDuration:'milliseconds'}}</span></dt>
                <dd *ngIf="semaine.ensembleCours.setCoursActifs.coursSuivant"><b>{{semaine.ensembleCours.setCoursActifs.coursSuivant.nom}}</b> en <span class="font-italic" *ngFor="let s of semaine.ensembleCours.setCoursActifs.coursSuivant.salles">{{s.batiment}} {{s.salle}}</span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-12 col-md heading m-md-3">
      <h5>Exclusions</h5>
      <div class="row" *ngFor="let e of (etService.exclusions ? etService.exclusions.slice(0, 5) : [])">
        <div class="col-12">
          <span *ngIf="e.supprimer"><i>[caché]</i></span>
          <span *ngIf="e.type.length > 0"><b>Type</b>: {{e.type}}</span>
          <span *ngIf="e.nom.length > 0"><b>Nom</b>: {{e.nom}}</span>
          <span *ngIf="e.professeur.length > 0"><b>Prof.</b>: {{e.professeur}}</span>
          <span *ngIf="e.salle.length > 0"><b>Salle</b>: {{e.salle}}</span>
        </div>
      </div>
      <div class="row" *ngIf="etService.exclusions.length > 5">
        <div class="col-12">
          + <b>{{etService.exclusions.length - 5}}</b> éléments
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button class="btn btn-warning take-width" (click)="openExclusions()"><img src="assets/icons/pencil.png" alt="Configurer"></button>
        </div>
      </div>
    </div>-->
  </div>

  <div class="row mb-2">
    <div class="col-md-6 col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-search"><img src="assets/icons/search.png" alt="Filtrer"></span>
        </div>
        <input type="text" class="form-control" placeholder="Filtrer par nom" aria-label="Filtrer par nom" aria-describedby="basic-search" [(ngModel)]="filtre">
        <div class="input-group-append" *ngIf="filtre.length > 0">
          <button type="button" class="btn btn-danger" (click)="filtre = ''"><img src="assets/icons/delete.png" alt="Clear"></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mt-md-0">
      <div class="float-right">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="vueType">
          <label ngbButtonLabel class="btn-primary px-4">
            <input ngbButton type="radio" [value]="VueType.TABLE"><img src="assets/icons/options.png" alt="Tables">
          </label>
          <label ngbButtonLabel class="btn-primary px-4">
            <input ngbButton type="radio" [value]="VueType.VISUEL"><img src="assets/icons/expand.png" alt="Visuel">
          </label>
        </div>
        <button type="button" class="btn btn-danger img-text" (click)="openExclusions()">
          <img src="assets/icons/cancel.svg" width="24" height="24" alt="Exclusions">Exclusions
        </button>
        <button type="button" class="btn btn-success img-text" (click)="openPersonnel()">
          <img src="assets/icons/push-pin.png" alt="Cours">Personnel
        </button>
        <button type="button" class="btn btn-warning img-text" (click)="openNotes()">
          <img src="assets/icons/file.png" alt="Notes">Notes
        </button>
        <button type="button" class="btn btn-info img-text" [ngbPopover]="helpContent" popoverTitle="Code couleur" placement="left">
          <img src="assets/icons/info.png" alt="Info">Couleurs
        </button>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="vueType">
    <app-et-table *ngSwitchCase="VueType.TABLE" [semaine]="semaine" [filtre]="filtre"></app-et-table>
    <app-et-visuel *ngSwitchCase="VueType.VISUEL" [semaine]="semaine"></app-et-visuel>
  </ng-container>
</ng-template>

<ng-template #helpContent>
  <span class="demo-cm">CM</span>
  <span class="demo-td">TD</span>
  <span class="demo-tp">TP</span>
  <span class="demo-autre">Autre</span>
</ng-template>
