<div class="row pt-2 pb-2" id="head-title">
  <div class="col">
    <div class="row">
      <div class="col h3 text-center mb-1">
        Semaine <span class="text-danger">{{semaine.date.semaine}}</span>,
        du <span class="text-warning">{{semaine.date.dateDebut | amDateFormat:'D MMMM YYYY'}}</span>
        au <span class="text-primary">{{semaine.date.dateFin | amDateFormat:'D MMMM YYYY'}}</span>
      </div>
    </div>

    <div class="row" *ngIf="infoSemaine">
      <div class="col h6 text-center mb-1" [ngSwitch]="infoSemaine.placement">
        <span *ngSwitchCase="-1">Dans {{infoSemaine.date | amDuration:'milliseconds'}}</span>
        <span *ngSwitchCase="0">Commencée depuis {{infoSemaine.date | amDuration:'milliseconds'}}</span>
        <span *ngSwitchCase="1">Finie depuis {{infoSemaine.date | amDuration:'milliseconds'}}</span>
      </div>
    </div>

    <div class="row" *ngIf="semaineProgress">
      <div class="col">
        <ngb-progressbar id="progress-main" type="{{semaineProgress < 100 ? 'primary' : 'success'}}" [value]="semaineProgress" [striped]="true" [animated]="false">
          <b>{{semaineProgress | number:'1.0-1'}}%</b>
        </ngb-progressbar>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" *ngIf="semaine.ensembleCours.setCours.estVide(); else elseBlock">
  <div class="col text-center">
    <img src="assets/icons_perso/et_vide.svg" alt="Empty" class="m-5" width="120" height="120">
  </div>
</div>

<ng-template #elseBlock>
  <div class="row mb-3 pt-2" id="head-details">
    <div class="col">
      <div class="row" id="head-summary">
        <!-- Summary row -->
        <ng-container *ngFor="let j of semaine.jours">
          <div class="col-12 col-md text-center" *ngIf="!j.ensembleCours.setCoursActifs.estVide()">
            <span class="text-capitalize font-weight-bold">{{j.date | amDateFormat:'dddd'}}</span>:
            <span class="stat-donnee">{{j.ensembleCours.setCoursActifs.premierCours.debut | date: 'HH:mm'}} &rarr; {{j.ensembleCours.setCoursActifs.dernierCours.fin | date: 'HH:mm'}}</span>
          </div>
        </ng-container>
      </div>

      <hr>

      <div class="row">
        <!-- Stats pannel -->
        <div class="col-12 col-md-6 mb-2">
          <div class="row">
            <div class="col">
              <h5>Statistiques
                <span class="badge badge-success" style="cursor: pointer" (click)="openStats()">&#8226;&#8226;&#8226;</span>
              </h5>
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['duree'].data | duree}}</span>
                      <span>heures</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['moyenneParCours'].data | duree}}</span>
                      <span>heure(s) / cours</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.stats['moyenneParJour'].data | duree}}</span>
                      <span>heures / jour</span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursActifs.cours.length}}</span>
                      cours <span class="font-weight-bold" style="color: lightseagreen;">actifs</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursCaches.cours.length}}</span>
                      cours <span class="font-weight-bold" style="color: coral">cachés</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span class="stat-donnee">{{semaine.ensembleCours.setCoursSupprimes.cours.length}}</span>
                      cours <span class="font-weight-bold" style="color: darkred">supprimés</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Infos rapides pannel -->
        <div class="col-12 col-md-6 mb-2" id="infos-rapide">
          <h5>Informations rapides</h5>
          <div class="row" *ngIf="semaine.ensembleCours.setCoursActifs.coursActuel">
            <div class="col">
              <h6>Cours actuel</h6>
              <div class="row">
                <div class="col">
                  &#8594;
                  <b>
                    {{semaine.ensembleCours.setCoursActifs.coursActuel.nom}}
                  </b>
                  <span *ngIf="semaine.ensembleCours.setCoursActifs.coursActuel.salles.length > 0">
                    en
                    <span class="font-italic" *ngFor="let s of semaine.ensembleCours.setCoursActifs.coursActuel.salles">
                      {{s.batiment}} {{s.salle}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="semaine.ensembleCours.setCoursActifs.coursSuivant">
            <div class="col">
              <h6>
                Cours suivant
                <small>
                  dans {{prochainCoursTimer | amDuration:'milliseconds'}}
                </small>
              </h6>
              <div class="row">
                <div class="col">
                  &#8594;
                  <b>
                    {{semaine.ensembleCours.setCoursActifs.coursSuivant.nom}}
                  </b>
                  <span *ngIf="semaine.ensembleCours.setCoursActifs.coursSuivant.salles.length > 0">
                    en
                    <span class="font-italic" *ngFor="let s of semaine.ensembleCours.setCoursActifs.coursSuivant.salles">
                      {{s.batiment}} {{s.salle}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6 col-sm-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-search"><img src="assets/icons/et_filtre.png" alt="Filtrer"></span>
        </div>
        <input type="text" class="form-control" placeholder="Filtrer par nom" aria-label="Filtrer par nom" aria-describedby="basic-search" [(ngModel)]="filtre">
        <div class="input-group-append" *ngIf="filtre.length > 0">
          <button type="button" class="btn btn-danger" (click)="filtre = ''"><img src="assets/icons/modal_et_supprimer_tout.png" alt="Clear"></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-2 mt-md-0">
      <div class="float-right">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="vueType">
          <label ngbButtonLabel class="btn-primary px-4">
            <input ngbButton type="radio" [value]="VueType.TABLE"><img src="assets/icons/et_table.png" alt="Tables">
          </label>
          <label ngbButtonLabel class="btn-primary px-4">
            <input ngbButton type="radio" [value]="VueType.VISUEL"><img src="assets/icons/et_visuel.png" alt="Visuel">
          </label>
        </div>
        <button type="button" class="btn btn-danger img-text" (click)="openExclusions()">
          <img src="assets/icons/et_exclusions.svg" width="24" height="24" alt="Exclusions">Exclusions
        </button>
        <button type="button" class="btn btn-success img-text" (click)="openPersonnel()">
          <img src="assets/icons/et_personnel.png" alt="Cours">Personnel
        </button>
        <button type="button" class="btn btn-warning img-text" (click)="openNotes()">
          <img src="assets/icons/et_notes.png" alt="Notes">Notes
        </button>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="vueType">
    <app-et-table *ngSwitchCase="VueType.TABLE" [semaine]="semaine" [filtre]="filtre"></app-et-table>
    <app-et-visuel *ngSwitchCase="VueType.VISUEL" [semaine]="semaine"></app-et-visuel>
  </ng-container>
</ng-template>
