<button class="btn btn-dark float-left" (click)="close()">&larr;</button>
<h2 class="text-center">Paramètres</h2>
<h3>Réglages</h3>
<form>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="cCacherCoursPasses" name="cCacherCoursPasses" [(ngModel)]="options.cacherCoursPasses">
      <label class="custom-control-label" for="cCacherCoursPasses">Cacher les cours passés</label>
    </div>
  </div>
  <div class="form-group">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="cCoursPersoSemaineVide" name="cCoursPersoSemaineVide" [(ngModel)]="options.coursPersoSemaineVide">
    <label class="custom-control-label" for="cCoursPersoSemaineVide">Cours perso pendant les semaines vides</label>
  </div>
</div>
  <div class="form-group">
    <label for="couleurCM">Couleur CM</label>
    <div class="input-group">
      <input class="form-control" name="couleurCM" id="couleurCM" [(colorPicker)]="couleur.CM.couleur" [style.background]="couleur.CM.couleur">
      <div class="input-group-append">
        <button type="button" class="btn btn-warning" (click)="couleur.CM.couleur = couleur.CM.defaut">Défaut</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="couleurTD">Couleur TD</label>
    <div class="input-group">
      <input class="form-control" name="couleurTD" id="couleurTD" [(colorPicker)]="couleur.TD.couleur" [style.background]="couleur.TD.couleur">
      <div class="input-group-append">
        <button type="button" class="btn btn-warning" (click)="couleur.TD.couleur = couleur.TD.defaut">Défaut</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="couleurTP">Couleur TP</label>
    <div class="input-group">
      <input class="form-control" name="couleurTP" id="couleurTP" [(colorPicker)]="couleur.TP.couleur" [style.background]="couleur.TP.couleur">
      <div class="input-group-append">
        <button type="button" class="btn btn-warning" (click)="couleur.TP.couleur = couleur.TP.defaut">Défaut</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="couleurAutre">Couleur Autre</label>
    <div class="input-group">
      <input class="form-control" name="couleurAutre" id="couleurAutre" [(colorPicker)]="couleur.Autre.couleur" [style.background]="couleur.Autre.couleur">
      <div class="input-group-append">
        <button type="button" class="btn btn-warning" (click)="couleur.Autre.couleur = couleur.Autre.defaut">Défaut</button>
      </div>
    </div>
  </div>
</form>
<h3>Aide</h3>
<div class="row">
  <div class="col"><img src="assets/icons_perso/drawing2past.svg" alt="Passé" width="24" height="24"> Cours passé</div>
  <div class="col"><img src="assets/icons_perso/drawing1present.svg" alt="Présent" width="24" height="24"> Cours présent/actuel</div>
  <div class="col"><img src="assets/icons_perso/drawing3futur.svg" alt="Futur" width="24" height="24"> Cours futur</div>
</div>
<div class="row">
  <div class="col">
    <h4>Cours</h4>
    <p>
      Les cours peuvent être de 4 types:
    </p>
    <ul>
      <li>
        <mark>Actif</mark>: le cours vient d'ADE, il est actif sur l'emploi du temps.
      </li>
      <li>
        <mark>Caché</mark>: le cours vient d'ADE, il est caché (=> ne compte pas dans les statistiques); cependant les cours cachés restent visibles
        en opacité réduite sur l'emploi du temps (utile pour les cours qu'on veut surveiller sans les compter dans l'emploi du temps).
        Si l'option "cacher les cours passés" est activée, alors les cours passés (des semaines/jours précédents) seront automatiquement
        dans cet état.
      </li>
      <li>
        <mark>Supprimé</mark>: le cours vient d'ADE, mais est complètement caché de l'emploi du temps. Il n'apparaîtra pas dans les statistiques,
        ni dans l'emploi du temps. Utile pour les cours qui ne vous concernent pas (pour les options par exemple).
      </li>
      <li>
        <mark>Perso</mark>: le cours vient de l'utilisateur. Ces cours ne peuvent pas être cachés, ni supprimés, car ils sont définis par l'utilisateur.
      </li>
    </ul>

    <h4>Cours Perso</h4>
    <p>
      Les cours perso sont des cours qui ne sont pas renseignés dans l'emploi du temps, car il ne concernent qu'une seule personne,
      ou qu'ils sont externes à la formation. <br>
      Ces cours sont configurables depuis une pop-up ouvrable au dessus de l'emploi du temps. <br>
      Chaque cours perso possède une récurrence (<s>UNIQUE</s>, JOUR, SEMAINE), à laquelle le cours viendra se rajouter. <br>
      Chaque cours perso possède aussi une heure de début et une heure de fin (un cours perso ne peut pas être sur deux jours). <br>
      Le reste des éléments (nom, description, type, professeur, lieu) sont des éléments qui sont utilisés comme pour les cours réguliers.
    </p>

    <h4>Exclusions</h4>
    <p>
      Pour exclure un type de cours rapidement via les exclusions, un click droit sur le cours ouvre un menu.
    </p>
    <img src="assets/aide/menu-contextuel.jpg" alt="Menu" class="img-fluid">
    <p>
      Il suffit alors de sélectionner une option et le cours sera automatiquement retiré de l'emploi du temps.
    </p>

    <h4>Sauvegarde</h4>
    <p>
      Les données suivantes sont sauvegardées dans les cookies:
    </p>
    <ul>
      <li>Options</li>
      <li>Exclusions</li>
      <li>Cours persos</li>
    </ul>
    <p>
      Si les cookies sont inaccessibles, ou que la fonctionnalité n'est pas dans cette liste, alors la sauvegarde n'aura pas lieu.
    </p>
  </div>
</div>

