.cours {
  text-align: center;
  background-color: rgba(140, 140, 140, 0.4);
  border: 1px solid rgba(140, 140, 140, 0.2);
  border-left: 0;
  border-right: 0;
  transition: box-shadow 200ms;
  padding: 5px 8px;
}
.cours:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 2px rgba(140, 140, 140, 0.4);
}

.no-cours {
  text-align: center;
  font-style: italic;
  font-size: 140%;
  color: grey;
}

.jour {
  border-top: 4px solid #666;
  border-bottom: 3px solid #666;
  box-shadow: 0 3px 6px grey;
  background-color: rgba(0, 0, 0, .05);
}

.jour-title-nom {
  font-size: 30px;
}
.jour-title-date {
  color: grey;
  font-size: 20px;
}
.jour-stats-duree {
  color: blueviolet;
}
.jour-stats-type {
  margin-left: 5px;
}

.cours .temps {
}
.cours .nom {
  font-weight: bold;
}
.cours .professeur {
}
.cours .salles {
  font-style: italic;
}

.cache {
  opacity: 0.5;
}

.supprime {
  display: none;
}

.indicateur-gauche-absolu {
  position: absolute;
  left: 10px;
}

.indicateur-gauche-relative {
  position: relative;
  top: -2px;
}

.jour .header {
  margin-bottom: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 8px #999;
  background-color: rgba(200, 200, 200, .1);
}
