<div class="row mb-3">
  <div class="col">
    <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="sSearchFor">
  </div>
  <div class="col">
    <button type="button" class="btn btn-outline-secondary float-right" [ngbPopover]="helpContent" popoverTitle="Code couleur" placement="left">Code couleur</button>
  </div>
</div>
<div class="row mb-3 jour" *ngFor="let j of et.emploiTemps.jours">
  <ng-container *ngIf="j && j.cours.length > 0">
    <div class="col-12">
      <div class="row titre">
        <div class="col-12">
          <span class="jour-title-nom">{{j.nom}}</span> <span class="jour-title-date">{{j.date | amDateFormat:'D MMMM YYYY'}}</span>
        </div>
      </div>
      <div class="row stats mb-2" *ngIf="j.coursActifs.length > 0">
        <div class="col-12">
          <span class="jour-stats-duree">{{j.premierCours.debut | date: 'HH:mm'}}&rarr;{{j.dernierCours.fin | date: 'HH:mm'}} ({{j.duree | duree}})</span>,
          <span *ngFor="let t of j.typesCount | objet; let i = index"><span *ngIf="i > 0">, </span><span class="jour-stats-type">{{t.value}}&nbsp;{{t.key}}</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col no-cours mb-2" *ngIf="j.cours.length === 0 || (j.coursActifs|coursfilter:sSearchFor).length == 0">
          Aucun cours trouvé.
        </div>
        <div class="col-12">
          <div class="row" *ngFor="let cours of j.cours | coursfilter:sSearchFor">
            <div class="col-12" [class.cache]="cours.cache" [class.supprime]="cours.supprime">
              <div class="row cours" [class.td]="cours.type[0] == 'TD'" [class.tp]="cours.type[0] == 'TP'" [class.cm]="cours.type[0] == 'CM'">
                <div *ngIf="!cours.cache" style="position: absolute; left: 10px; z-index: 10;">
                  <span (click)="et.exclure(cours)" style="color: white; padding: 0 6px; font-weight: bold">X</span>
                </div>
                <div class="col-lg-2 col-md-12 temps">
                  {{cours.debut | amDateFormat:'HH:mm'}}&rarr;{{cours.fin | amDateFormat:'HH:mm'}}
                </div>
                <div class="col-lg-4 col-md-12 nom">
                  {{cours.nom}}
                </div>
                <div class="col-lg-3 col-md-12 professeur">
                  {{cours.professeur}}
                </div>
                <div class="col-lg-3 col-md-12 salles">
                  <span *ngFor="let s of cours.salles">{{s.batiment}} {{s.salle}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #helpContent>
  <span class="demo-cm">Cours</span>
  <span class="demo-td">TD</span>
  <span class="demo-tp">TP</span>
  <span class="demo-autre">Autre</span>
</ng-template>
