.btn:hover {
  cursor: pointer;
}

.cours {
  text-align: center;
  border-radius: 4px;
  background-color: rgba(140, 140, 140, 0.4);
  border: 2px solid rgba(140, 140, 140, 0.2);
  transition: box-shadow 0.2s;
  padding: 5px 8px;
}
.cours:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 2px rgba(140, 140, 140, 0.4);
}
.cours.td, .demo-td {
  background-color: rgba(30, 144, 255, 0.4);
  border: 2px solid rgba(30, 144, 255, 0.2);
}
.cours.td:hover {
  box-shadow: 0 0 6px 2px rgba(30, 144, 255, 0.4);
}
.cours.tp, .demo-tp {
  background-color: rgba(0, 160, 136, 0.4);
  border: 2px solid rgba(0, 160, 136, 0.2);
}
.cours.tp:hover {
  box-shadow: 0 0 6px 2px rgba(0, 160, 136, 0.4);
}
.cours.cm, .demo-cm {
  background-color: rgba(220, 20, 60, 0.4);
  border: 2px solid rgba(220, 20, 60, 0.2);
}
.cours.cm:hover {
  box-shadow: 0 0 6px 2px rgba(220, 20, 60, 0.4);
}

.demo-autre {
  background-color: rgba(140, 140, 140, 0.4);
  border: 2px solid rgba(140, 140, 140, 0.2);
}

.demo-cm, .demo-td, .demo-tp, .demo-autre {
  padding: 6px;
  border-radius: 4px;
}

.titre {
}
.stats {
}

.no-cours {
  text-align: center;
  font-style: italic;
  font-size: 120%;
  color: grey;
}

.jour {
  border-top: 4px solid #888;
  border-bottom: 2px solid #888;
  box-shadow: 0 3px 6px grey;
  background-color: rgba(0, 0, 0, .05);
}

.unoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jour-title-nom {
  font-size: 30px;
}
.jour-title-date {
  color: grey;
  font-size: 20px;
}
.jour-stats-duree {
  color: blueviolet;
}
.jour-stats-type {
  color: darkorange;
}

.cours .temps {
  font-weight: bold;
}
.cours .nom {
  font-size: 125%;
  text-decoration: underline;
}
.cours .professeur {
}
.cours .salles {
  font-style: italic;
}

.exclu {
  opacity: 0.5;
  text-decoration: line-through;
}
