.jour-title-nom {
  font-size: 30px;
}
.jour-title-date {
  color: grey;
}
.jour-title-duree {
  color: blueviolet;
}
.jour-title-type {
  color: darkorange;
}

.exclu {
  opacity: 0.5;
  text-decoration: line-through;
}
