<div id="et-visuel">
	<table id="et-visuel-table">
		<thead>
			<tr>
				<th width="5%"></th>
				<th attr.width="{{95/legendeJours.length}}%" style="text-align: center;" *ngFor="let j of legendeJours">{{j}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let l of legendeHeures.legendes; let i = index">
				<td width="5%" style="padding-right: 8px;"><span style="float: right;">{{l}} h</span></td>
				<ng-container *ngIf="i == 0">
					<td class="et-visuel-colonne" style="text-align: center;" attr.width="{{95/legendeJours.length}}%" *ngFor="let j of legendeJours; let i = index" attr.rowspan="{{legendeHeures.legendes.length}}">
						<div class="et-visuel-cours" *ngFor="let c of jours[i]" [class.exclu]="c.cours.exclu" [style.top]="c.position.top + '%'" [style.height]="c.position.height + '%'" [style.border-color]="c.cours.couleur">
							<p>
								<b>{{c.cours.nom}}</b><br>
								{{c.cours.salle}}<br>
								{{c.cours.professeur}}<br>
								{{c.cours.debut | amDateFormat:'HH:mm'}} - {{c.cours.fin | amDateFormat:'HH:mm'}}
							</p>
						</div>
					</td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>
