#head-title {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-image: url(../../assets/backgrounds/line_angle_light_shadow.jpg);
  background-size: cover;
  color: white;
}

#head-details {
  box-shadow: 0 4px 6px #aaaaaa70;
  border-bottom: 1px solid grey;
  background: linear-gradient(to bottom, #8882, #ddd1);
}

#head-summary {
  font-size: 108%;
}

#infos-rapide h6 {
  margin-bottom: 0;
}

.btn.img-text > img {
  margin-right: 10px;
}
.btn.img-text {
  max-width: 48px;
  overflow: hidden;
  transition: 500ms max-width ease-in-out;
}
.btn.img-text:hover {
  max-width: 160px;
}

.stat-donnee {
  color: blueviolet;
  font-weight: bold;
  margin-right: .25rem;
}
:host-context(.dark-theme) .stat-donnee {
  color: #ad7bff;
}

dl {
  margin-bottom: 0;
}

dd {
  padding-left: 10px;
}

hr {
  margin: 8px auto;
}

#spe-func {
  justify-content: flex-end;
}

#spe-func > * {
  margin-left: .25rem;
}

/deep/ #progress-main .progress {
  background-color: rgba(200, 200, 200, .7);
}

:host-context(.dark-theme) #head-details {
  background: linear-gradient(to bottom, #fff4, #ddd3);
}

:host-context(.dark-theme) #basic-search {
  background-color: #666;
  border-color: #888;
  color: white;
}

:host-context(.dark-theme) input[type='text'] {
  background-color: #555;
  border-color: #888;
}
