<div class="exclusion mb-2 py-2" [class.complete]="exclusion.type.length > 0 || exclusion.professeur.length > 0 || exclusion.salle.length > 0">
  <form class="form">
    <div class="col">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group row mb-0">
            <label for="nom{{id}}" class="col-form-label col-2">Nom</label>
            <div class="col-10">
              <input type="text" class="form-control mx-2" name="nom{{id}}" id="nom{{id}}" [(ngModel)]="exclusion.nom" [ngbTypeahead]="searchNoms" placeholder="Nom">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-2 mt-md-0">
          <div class="float-right">
            <h5 class="d-inline-block mr-2 mb-0 align-middle">{{exclusion.count}} cours</h5>

            <!-- Details -->
            <div class="btn-group btn-group-toggle ml-1" [ngbTooltip]="'Afficher les paramètres supplémentaires'">
              <label class="btn-success" ngbButtonLabel>
                <input name="d{{id}}" type="checkbox" ngbButton [(ngModel)]="details"><img src="assets/icons/modal_et_plus.png" alt="Développer">
              </label>
            </div>

            <!-- Include / Full -->
            <div class="btn-group btn-group-toggle ml-1" [ngbTooltip]="'Chercher dans les entrées (sinon, on ne cherche que les entrées exactement égales)'">
              <label class="btn-primary" ngbButtonLabel>
                <input name="i{{id}}" type="checkbox" ngbButton [(ngModel)]="exclusion.includes"><img src="assets/icons/modal_et_inclure.png" alt="Inclure">
              </label>
            </div>

            <!-- Cacher / Supprimer le cours -->
            <div class="btn-group btn-group-toggle ml-1" [ngbTooltip]="'Cacher les cours complètement'">
              <label class="btn-warning" ngbButtonLabel>
                <input name="s{{id}}" type="checkbox" ngbButton [(ngModel)]="exclusion.supprimer"><img src="assets/icons/modal_et_cacher.png" alt="Cacher">
              </label>
            </div>

            <!-- Delete -->
            <button type="button" class="btn btn-danger ml-3" (click)="suppressionExclusion()" [ngbTooltip]="'Supprimer l\'exclusion'"><img src="assets/icons/modal_et_supprimer.png" alt="Supprimer"></button>
          </div>
        </div>
      </div>
      <div class="form-row mt-1" *ngIf="details">
        <div class="col-4">
          <label for="type{{id}}" class="mb-1">Type</label>
          <input type="text" class="form-control" name="type{{id}}" id="type{{id}}" [(ngModel)]="exclusion.type" [ngbTypeahead]="searchTypes" placeholder="Type">
        </div>
        <div class="col-4">
          <label for="professeur{{id}}" class="mb-1">Professeur</label>
          <input type="text" class="form-control" name="professeur{{id}}" id="professeur{{id}}" [(ngModel)]="exclusion.professeur" [ngbTypeahead]="searchProfesseurs" placeholder="Professeur">
        </div>
        <div class="col-4">
          <label for="salle{{id}}" class="mb-1">Salle</label>
          <input type="text" class="form-control" name="salle{{id}}" id="salle{{id}}" [(ngModel)]="exclusion.salle" [ngbTypeahead]="searchSalles" placeholder="Salle">
        </div>
      </div>
    </div>
  </form>
</div>
