<div class="modal-header">
  <h4 class="modal-title">Configuration des exclusions</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-row mb-2" *ngFor="let e of exclusions; let i = index">
      <div class="col-5">
        <select id="s{{i}}" name="s{{i}}" [(ngModel)]="e.type" class="form-control">
          <option *ngFor="let o of typesPossible" value="{{o}}">{{o}}</option>
        </select>
      </div>
      <div class="col-5">
        <input id="i{{i}}" name="i{{i}}" type="text" class="form-control" placeholder="Contient" [(ngModel)]="e.contient">
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-danger take-width" (click)="suppressionExclusion(e)">&times;</button>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary take-width" (click)="ajoutExclusion()">Ajouter une exclusion</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Valider</button>
</div>
