<div class="modal-header">
  <h4 class="modal-title">Configuration des exclusions</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let e of exclusions; let i = index"
       style="border: 2px solid #0077ff; border-radius: 6px;" class="mb-2 py-2">
    <app-exclusion [exclusion]="e" (onSuppression)="suppressionExclusion($event)"></app-exclusion>
  </div>
  <button type="button" class="btn btn-primary take-width" (click)="ajoutExclusion()">Ajouter une exclusion</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cancel')">Annuler</button>
  <button type="button" class="btn btn-success" (click)="valider()">Valider</button>
</div>
