/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url(assets/backgrounds/polygonal-background.jpg) no-repeat center;
  background-size: 100% auto;
}

.container.contenu {
  background-color: rgba(255, 255, 255, .8);
  padding-top: 8px;
  padding-bottom: 10px;
  position: relative;

  box-shadow: 0 8px 8px grey;
}

.take-width {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.unoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#progress-main .progress {
  background-color: rgba(200, 200, 200, .7);
}
