.btn:hover, .dropdown-item {
  cursor: pointer;
}

.section {
  padding: .5rem 0;
  margin-top: .5rem;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  background-color: rgba(0,0,0,.03);
  box-shadow: 0 2px 4px #aaa;
}
.section:first-of-type {
  margin-top: 0;
}

.quick-link {
  display: inline-block;
	text-align: center;
  width: 100%;
  height: 100%;
	padding: 8px 14px;
	border-radius: .2rem;
	border: 2px solid #222;
  border-top-color: red;
  color: black;
  background-color: rgba(0,0,0,.04);

	transition: box-shadow .2s, border-top-color .2s;
}

.quick-link:hover {
  box-shadow: 0 0 4px #777;
  text-decoration: none;
  border-top-color: gold;
}

.ue {
  border: 2px solid #222;
  border-top-color: cornflowerblue;
  padding: 6px 30px;
  width: 100%;
  height: 100%;
  border-radius: .2rem;
  background: linear-gradient(to bottom, rgba(70,70,70,.1), rgba(255,255,255,.1));
}

.ue .initiales-nom {
  font-size: 110%;
}
.ue .initiales {
  font-weight: bold;
}
.ue .nom {

}
.ue .type {
  font-style: italic;
}

.lien-additionnel {
  margin-bottom: 4px;
}

.titre {

}
